django==4.2.10
django-crispy-forms==2.0
crispy-bootstrap5==0.7
# Use different MongoDB adapter for Django that works with newer versions
djangotoolbox==1.8.0
pymongo[srv]==4.6.1
dnspython==2.4.2
# Install Djongo from a forked repository with compatibility fixes
git+https://github.com/doableware/djongo.git@djongo-2.0.0
pillow==10.1.0
python-dotenv==1.0.0
django-storages==1.14.2
django-allauth==0.57.0
requests==2.31.0
whitenoise==6.5.0